body {
    text-align: center;
}

h1 {
    display: inline;
    display: inline;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 30px;
}
table {
    margin: 0px auto;
}

#navlink {
   margin: 30px;
   font-size: 30px;
}

.intro {
    font-size: 30px;
    display: block;
}

/* ol li{
    list-style-type: none;
  }  */

  footer {
      font-size: 30px;
  }

  #_projecttable {

  }

  td {
      
  }